*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(155, 155, 230);
    color: rgb(8, 2, 15);
    font-family: "Poppins", sans-serif;
}
nav{
   display: flex;
    justify-content:center;
    align-items: center;
    height:50px;
    background-color: rgb(51, 51, 136);
}
.left{
    font-size: 1.5rem;
 color:rgb(225, 225, 243);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin:0 23;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
nav ul li a:hover{
    color: rgb(120, 120, 233);
    font-size: medium;
 }
.first{
    display: flex;
    justify-content: space-around;
}
h1{
    margin-left: 43px;
    margin-top: 40px;
    color: rgb(2, 2, 110);
}
.first{
    width:95%;
}
.leftsec{
    margin-top:40px;
    margin-left: 43px;
}
#element{
    margin-left: 43px;
    color: rgb(5, 0, 12);
    font-size: x-large;
}
.black{
    color: rgb(5, 0, 8);
}
.about{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.abouttext h1{
    justify-content: center;
    align-items: center;
    margin-left:35%;
}
.abouttext p{
    justify-content: center;
    justify-items: center;
    width:450;
    margin-top:20px ;
    margin-left:20px;
}
.abouttext .btn{
margin-top: 20px;
margin-left:45%;
width: 100;
background-color: rgb(88, 88, 218);
color: rgb(2, 2, 44);
font-size:14;
border-radius: 8px;
}
.abouttext .btn:hover{
    color:rgb(6, 6, 207);
}
.container{
    padding: 60px;
}
.servicelist{
 display: grid;
 display: flex;
 grid-gap:40px;
 margin-top:30px;

}
.servicelist div{
background-color:transparent;
padding:30px;
font-size:13px;
font-weight: 13px;
border-radius:30px;
box-shadow: 1px 1px 20px blue,1px 1px 40px blue;
}
.servicelist div i{
    font-size:28px;
    margin-bottom: 20px;
}
.servicelist div h1{
    margin-left:0;
    font-size:30 ;
    margin-bottom: 15px;
}
.servicelist div a{
    text-decoration: none;
    color: black;
    margin-top:40px;
}
.servicelist div a:hover{
    color:blue;
}
.ser{
    margin-top:0;
    text-decoration: underline;
    font-size: xx-large;
    justify-content: center;
    justify-items: center;
    margin-left:35%;
    margin-bottom:50px;
}
.contactcont{
    display: flex;
}
.contactleft{
    width:100%;
}
.contactleft h1{
    margin-bottom:25px ;
    text-decoration:underline;
}
.contactleft p i{
    color: rgb(1, 1, 49);
    margin-right:10px;
    font-size: 25px;
    margin-left: 35px;
}
.contactleft p{
    font-size: x-large;
}
.socioicons{
    margin-left:35px;
    margin-top:20px;
}
.socioicons a{
    margin-right:15px;
    font-size: 25px;
    color: rgb(1, 1, 24);
}
.socioicons a:hover{
    color: rgb(252, 247, 247);
}
.contactbtn button{
    margin-top:30px ;
    margin-left: 35px;
    background-color: rgb(157, 157, 235);
    color: rgb(4, 4, 58);
    font-size: large;
    border-radius: 12px;
    width:130;
    border-color: rgb(1, 1, 48);
}
.contactright form{
    width:80%;
    margin-top:40px;
    margin-left:50px;
}
form input,form textarea,form button{
    width:80%;
    border: 0;
    outline:none ;
    padding:15px;
    margin: 10px;
    background-color: rgb(52, 52, 185);
    font-size: 18px;
    border-radius: 8px;
}
form ::placeholder{
    color:black;
}
.skillsname{
    font-size:larger;
}
.skillsimg{
    width:80px;
    margin-bottom: 0.5rem;
}
.skillscontent{
  display:flex;
 margin-left:20px;
 border: 10px;
padding: 10px;
}